{% macro simulation(o) -%}
{{ o.visualisation.render() }}
{{ o.material_database.render() }}

#=====================================================
# GEOMETRY
#=====================================================
{{ o.geometry.render() }}

#=====================================================
# DIGITIZER
#=====================================================
{{ o.physics.render() }}

#=====================================================
# DIGITIZER
#=====================================================
{% for d in o.digitizers -%}
{{ d.render() }}
{% endfor -%}


#=====================================================
# INITIALISATION
#=====================================================
/gate/run/initialize

#=====================================================
# SOURCE
#=====================================================
{{ o.source.render() }}

#=====================================================
# PARAMETER
#=====================================================
{{ o.parameter.render() }}

{% endmacro -%}
{% if o -%}
{{ simulation(o) }}
{%- endif %}