{% macro simulation(o) -%}
{{ o.visualisation.render() }}
{{ o.material_database.render() }}

#=====================================================
# GEOMETRY
#=====================================================
{{ o.geometry.render() }}


#=====================================================
# PHYSICS
#=====================================================
{{ o.physics.render() }}

#=====================================================
# DIGITIZER
#=====================================================
{% for d in o.digitizers -%}
{{ d.render() }}
{% endfor -%}



#=====================================================
# SOURCE
#=====================================================
{{ o.source.render() }}

#=====================================================
# PARAMETER
#=====================================================
{{ o.parameter.render() }}

{% endmacro -%}
{% if o -%}
{{ simulation(o) }}
{%- endif %}