{% macro source(o) -%}
{% if o.is_voxelized() -%}
/gate/source/addSource {{ o.name }} voxel
{% else -%}
/gate/source/addSource {{ o.name }}
{% endif -%}
{% if o.shape -%}
{{ o.shape.render() }}
{% endif -%}
{{ o.particle.render() }}
{{ o.angle.render() }}
{% endmacro -%}
{% if o -%}
{{ source(o) }}
{%- endif %}