{% macro source(o) -%}
/gate/source/addSource {{ o.title() }}
{% if o.shape -%}
{{ o.shape.render() }}
{% endif -%}
{{ o.particle.render() }}
{{ o.angle.render() }}
{% endmacro -%}
{% if o -%}
{{ source(o) }}
{%- endif %}