{% extends "geometry/volume/volume.j2" %}
{% block detail -%}
/gate/{{ o.name }}/geometry/setRmin         {{ o.rmin }} mm
/gate/{{ o.name }}/geometry/setRmax         {{ o.rmax }} mm
/gate/{{ o.name }}/geometry/setPhiStart         {{ o.phi_start }} mm
/gate/{{ o.name }}/geometry/setDeltaPhi         {{ o.delta_phi }} mm
/gate/{{ o.name }}/geometry/setThetaStart         {{ o.theta_start }} mm
/gate/{{ o.name }}/geometry/setDeltaTheta         {{ o.delta_theta }} mm
{% endblock detail -%}

